@import 'tailwindcss';

:root {
	--color-background: oklch(14.1% 0.005 285.823);
	--color-surface: oklch(21% 0.006 285.885);
	--color-surface-hover: oklch(27% 0.007 285);
	--color-surface-hover-subtle: oklch(32% 0.005 285);
	--color-accent: oklch(62.7% 0.194 149.214);
	--color-accent-hover: oklch(72% 0.2 149);
	--color-text: oklch(0.93 0 132);
	--color-text-muted: oklch(0.76 0 132);
	--color-border: oklch(27.4% 0.006 286.033);
	--color-border-muted: oklch(37% 0.013 285.805);
}

.light {
	--color-background: oklch(96% 0.007 285);
	--color-surface: oklch(92% 0.007 285);
	--color-surface-hover: oklch(88% 0.005 285);
	--color-surface-hover-subtle: oklch(83% 0.005 285);
	--color-accent: oklch(52.7% 0.154 150.069);
	--color-accent-hover: oklch(47% 0.15 150);
	--color-text: oklch(25% 0.01 285);
	--color-text-muted: oklch(38% 0.015 285);
	--color-border: oklch(86% 0.008 285);
	--color-border-muted: oklch(84% 0.005 285);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: oklch(96% 0.007 285);
		--color-surface: oklch(92% 0.007 285);
		--color-surface-hover: oklch(88% 0.005 285);
		--color-surface-hover-subtle: oklch(83% 0.005 285);
		--color-accent: oklch(52.7% 0.154 150.069);
		--color-accent-hover: oklch(47% 0.15 150);
		--color-text: oklch(25% 0.01 285);
		--color-text-muted: oklch(38% 0.015 285);
		--color-border: oklch(86% 0.008 285);
		--color-border-muted: oklch(84% 0.005 285);
	}
}

html {
	font-size: var(--base-font-size);
}

body {
	background: var(--color-background);
	color: var(--foreground);
	font-family: var(--font-geist-sans);
}

aside {
	background: var(--color-surface);
}

a {
	color: var(--color-text-muted);
	font-size: 1rem;
}

a:hover {
	color: var(--color-text);
}

p,
span,
h6 {
	font-size: 1rem;
	color: var(--color-text-muted);

	button:hover & {
		color: var(--color-text);
	}
}

h1 {
	font-size: 2rem;
	color: var(--color-text);
}

h2 {
	font-size: 1.75rem;
	color: var(--color-text);
}

h3 {
	font-size: 1.5rem;
	color: var(--color-text);
}

h4,
h5 {
	font-size: 1.25rem;
	color: var(--color-text);
}

.text-xs {
	font-size: 0.75rem;
}

.text-md {
	font-size: 1.25rem;
}

.text-lg {
	font-size: 1.5rem;
}

.text-light {
	color: var(--color-text);
}

.text-dark {
	color: var(--color-text-muted);
}

.text-background {
	color: var(--color-background);
}

.color-accent {
	color: var(--color-accent);
}
